Source: ros-melodic-tuw-aruco
Section: misc
Priority: extra
Maintainer: Lukas Pfeifhofer <lukas.pfeifhofer@devlabs.pro>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-cv-bridge, ros-melodic-dynamic-reconfigure, ros-melodic-image-geometry, ros-melodic-image-transport, ros-melodic-marker-msgs, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-std-msgs, ros-melodic-tf
Homepage: http://wiki.ros.org/tuw_aruco
Standards-Version: 3.9.2

Package: ros-melodic-tuw-aruco
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-cv-bridge, ros-melodic-dynamic-reconfigure, ros-melodic-image-geometry, ros-melodic-image-transport, ros-melodic-marker-msgs, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-std-msgs, ros-melodic-tf
Description: This is a wrapper around the marker detection library ArUco.
