Source: ros-kinetic-tuw-ellipses
Section: misc
Priority: extra
Maintainer: Markus Bader <markus.bader@tuwien.ac.at>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-dynamic-reconfigure, ros-kinetic-geometry-msgs, ros-kinetic-image-geometry, ros-kinetic-image-transport, ros-kinetic-marker-msgs, ros-kinetic-message-generation, ros-kinetic-nodelet, ros-kinetic-opencv3, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-tf, ros-kinetic-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-tuw-ellipses
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cv-bridge, ros-kinetic-dynamic-reconfigure, ros-kinetic-geometry-msgs, ros-kinetic-image-geometry, ros-kinetic-image-transport, ros-kinetic-marker-msgs, ros-kinetic-message-runtime, ros-kinetic-nodelet, ros-kinetic-opencv3, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-tf, ros-kinetic-visualization-msgs
Description: The tuw_ellipses package contains a computer vision library which is able to detect ellipses within images.
 The package is able to estimate the pose of the circle related to the ellipse the circle diameter as well as the camera parameter are known. A dynamic reconfigure interface allows the user to tune the parameter of the system to ones needs. But be aware that the pose of a projected circle within a image (ellipse) has two solutions and only one is published as TF. A costom message (v4r_msgs) publishes all the data as well as the pose ambiguity.
